@model IEnumerable<AppFilmes.Models.Filme>

@{
    ViewBag.Title = "Index";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h2>Filmes</h2>

<div>
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
            @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4" style="height: 630px;">
                <div class=" thumbnail">
                    <img src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(modelItem => item.PosterPath) " alt="..." class="img-thumbnail" style="height: 425px;">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p>...</p>
                        <p>@Html.ActionLink("Detalhes", "Detalhes", new { id = item.FilmeId }, new { @class = "btn btn-primary",@role="button" })
                        <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>

        }
    </div>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

<script src="~/Content/themes/2ColPortFolio/js/jquery.js"></script>
<script src="~/Content/themes/2ColPortFolio/js/bootstrap.min.js"></script>

