@model IEnumerable<AppFilmes.Models.Filme>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/themes/2ColPortFolio/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/themes/2ColPortFolio/CSS/3-col-portfolio.css" rel="stylesheet" />
<h2>Filmes</h2>

<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
 @foreach (var item in Model)
    {

        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(modelItem => item.PosterPath) " alt="">

                <h3>
                    <a href="#">@Html.DisplayFor(modelItem => item.Title)</a>
                </h3>
                <p>@Html.DisplayFor(modelItem => item.Overview)</p>
            </a>
        </div>



    }
    
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

<script src="~/Content/themes/2ColPortFolio/js/jquery.js"></script>
<script src="~/Content/themes/2ColPortFolio/js/bootstrap.min.js"></script>

